<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zp.file">

    <application>
        <activity android:name=".ui.FileManageActivity" />
        <activity android:name=".ui.PicActivity"></activity>
    </application>

</manifest>